{% extends "base.html" %}

{% block conteudo %}

    Nome: {{dados.nome}}
    E-mail: {{dados.email}}

    {% if dados.idade >= '18' %}
        <h5>Você pode tirar carteira de motorista</h5>
    {% else %}
        <h5>Aguarde um pouco mais para dirigir!</h5>
    {% endif %}

    <table>
        <tr>
            <td>Disciplina</td>
        </tr>
    {% for disciplina in dados.getlist('disciplina') %}
        <tr>
            <td>{{disciplina}}</td>
        </tr>
     {% endfor %}
    </table>

{% endblock %}
